@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Freeman", sans-serif;
    padding: 50px 50px;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 3%;
    margin: 0;
    box-sizing: border-box;
}

.button1, .button2 {
    color: white;
    border: 1px solid white;
    font-weight: bold;
    font-family: sans-serif;
    width: 200px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    background-color: #430c67;
    border-radius: 15px;
  }
  
  .button1:hover {
    background-color: white;
    color: #000000;
}

.button2:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.container{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: white;
    align-items:center;
    justify-content: center;
    border-radius: 30px;
    flex-direction: column;
}



.square{
    background-color: #34114b;
    height: 85%;
    width: 80%;
    padding: 5%;
    color: white;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.alert-button{
    width: 25%;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid black;
    margin: 40px auto;
  }

.blur-background {
    filter: blur(3px);
    z-index: 0;
}

.error-message {
    text-align: center;
    font-size: medium;
    display: none;
    position: fixed;
    top: 89%;
    left: 76%;
    padding: 15px;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 17%;
    height: 8%;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    background-color: #34114b;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 50% !important;
    height: 30%;
    overflow: auto;
}

.alert-button{
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
    flex-direction: row;
    gap: 10%;
}


.button-profile{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    flex-direction: row;
    gap: 10%;
}
